<div class="country-list">
    <ul class="list">
        {{#each this}}
        <div class="icon-list">
            <img src="{{this.flag}}" alt="{{this.name}}" width="15px" height="15px">
            <li class="list-item"> {{this.name}}</li>
        </div>
        {{/each}}
    </ul>
</div>